.uk-container {
    max-width: 650px;
}

/* @font-face {
    font-family: 'OpenSans-Bold';
    src: url("public/fonts/OpenSans-Bold.ttf") format("ttf"), url("public/fonts/OpenSans-Bold.otf") format("otf"), url("public/fonts/OpenSans-Bold.eot") format("eot"), url("public/fonts/OpenSans-Bold.svg") format("svg"), url("public/fonts/OpenSans-Bold.woff") format("woff"), url("public/fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url("public/fonts/OpenSans-SemiBold.ttf") format("ttf"), url("public/fonts/OpenSans-SemiBold.otf") format("otf"), url("public/fonts/OpenSans-SemiBold.eot") format("eot"), url("public/fonts/OpenSans-SemiBold.svg") format("svg"), url("public/fonts/OpenSans-SemiBold.woff") format("woff"), url("public/fonts/OpenSans-SemiBold.woff2") format("woff2")
}

@font-face {
    font-family: 'OpenSans-Medium';
    src: url("public/fonts/OpenSans-Medium.ttf") format("ttf"), url("public/fonts/OpenSans-Medium.otf") format("otf"), url("public/fonts/OpenSans-Medium.eot") format("eot"), url("public/fonts/OpenSans-Medium.svg") format("svg"), url("public/fonts/OpenSans-Medium.woff") format("woff"), url("public/fonts/OpenSans-Medium.woff2") format("woff2")
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url("public/fonts/OpenSans-Regular.ttf") format("ttf"), url("public/fonts/OpenSans-Regular.otf") format("otf"), url("public/fonts/OpenSans-Regular.eot") format("eot"), url("public/fonts/OpenSans-Regular.svg") format("svg"), url("public/fonts/OpenSans-Regular.woff") format("woff"), url("public/fonts/OpenSans-Regular.woff2") format("woff2");
} */

/*********************/
/** Index Page CSS **/
/*********************/
.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* hold image and text */
.uk-card {
    border: 1px solid #47464742;
    display: inline-block;
    max-width: 100%;
    padding: 0px;
}

.cover-img {
    width: 100%;
    /* aspect-ratio: 65/45; */
    object-fit: cover;
    object-position: center center;
}

.lets-begin-info {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 100px;
    z-index: 1;
}

.lets-begin-desc {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    display: block;
    padding: 35px 0px;
    /* position: absolute; */
}

@media (max-width: 595px) {
    .lets-begin-desc {
        font-size: 16px;
        line-height: 24px;
        padding: 20px 0px;
    }
}

.lets-begin-button-link,
.lets-begin-button-link:hover {
    text-decoration: none;
}

.lets-begin-button {
    width: 92%;

    border-radius: 20px;
    background-color: #CC0000;
    color: #FFFFFF;
    border: none;

    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    cursor: pointer;
    transition: all 0.3s ease;

    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: none;
    padding: 20px;
}

.lets-begin-button:hover {
    background-color: #b30000;
    transform: scale(1.05);
}

/****************************/
/** End of Index Page CSS **/
/****************************/


/****************************/
/** WYS Quiz QN Page CSS ***/
/****************************/
.quiz-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; */

    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.quiz-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 0 50px;

    /* border: 1px solid #47464742;
    display: inline-block;
    max-width: 100%;
    padding: 0px; */
}

.quiz-cover-image {
    margin-bottom: 20px;
    opacity: 1;
    /* background-size: cover;
    background-position: top; */
    width: 100%;
    /* aspect-ratio: 65/45; */
    object-fit: cover;
    object-position: center center;
}

/* .quiz-info {
    padding-left: 15px;
    padding-right: 15px;
} */

.quiz-transition {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    display: block;
    max-width: 610px;
}

.quiz-desc {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.quiz-option {
    display: flex;
    align-items: center;
}

.quiz-option input {
    display: none;
}

.quiz-option label {
    display: block;
    width: 100%;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    letter-spacing: .5px;
    color: #FFFFFF;
    background: #000;
    border-radius: 20px;
    padding: 15px 20px;
    transition: all .3s ease;
    cursor: pointer;
    text-align: center;
}

.quiz-option label:hover {
    background: #c00;
}

.quiz-option input:checked+label {
    background: #c00;
}

.quiz-option input:disabled:not(:checked)+label {
    opacity: .75;
    cursor: default;
}

/***********************************/
/** End of WYS Quiz QN Page CSS ***/
/***********************************/


/*****************************/
/** WYS Quiz Ans Page CSS ***/
/****************************/

.ans-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 50px;
}

.ans-banner-img {
    opacity: 1;
    width: 100%;
    /* aspect-ratio: 65/45; 
    object-fit: cover;
    object-position: center center; */
}

.ans-banner-container {
    position: relative;
    display: inline-block;
}

.ans-banner-container .main-img {
    /* display: block; */
    width: 100%;
    height: auto;
}

.ans-overlay {
    position: absolute;
    top: 7.33%;
    right: 0;
    width: 33.3%;
}

.prodigy-banner-img {
    opacity: 1;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 450px;
}

.capital-img {
    background-image: url('pic/capital.png');
}

.wealth-img {
    background-image: url('pic/wealth.png');
}

.income-img {
    background-image: url('pic/income.png');
}

.legacy-img {
    background-image: url('pic/legacy.png');
}

.quiz-ans-content {
    background-color: #000000;
    padding-left: 15px;
    padding-right: 15px;
}

.quiz-ans-title {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 30px;
}

.quiz-ans-desc {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

/* .spark-img-center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.spark-content-img {
    width: 380px;
    gap: 0px;
    opacity: 0px;
    padding-bottom: 30px;
} */

.uk-container-full-width {
    width: 100%;
    padding: 0;
}

/* .quiz-stats-card {
    background-color: #DBE2E7;
    color: #DE0000;
    text-align: center;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    padding: 29px 20px 29px 20px;
    gap: 10px;
    opacity: 0px;
}

.quiz-stats {
    margin: 0;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.quiz-stats-percentage {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.most-likely-txt {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: center;
    padding: 29px 20px 29px 20px;
    gap: 10px;
    opacity: 0px;
} */




/* Base styles for two-column layout */
/* .compatible-container {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #000000;
}

.compatible-column {
    flex: 1;
    padding: 20px;
}

.compatible-divider {
    width: 1px;
    background-color: #000000;
} */

/* Styles for the title and box elements */
/* .compatible-title-left,
.compatible-title-right {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: left;
    color: #000000;
}

.compatible-title-left span.compatible-red {
    color: #DE0000;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 31.5px;
}

.compatible-title-right span.compatible-grey {
    color: #67737C;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 31.5px;
}

.compatible-box {
    display: flex;
    align-items: center;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #FFFFFF;
    width: 243px;
    height: 70px;
    gap: 0px;
    border-radius: 50px;
    opacity: 0px;
}

.compatible-box:not(:last-child) {
    margin-bottom: 20px;
}

.compatible-box img {
    max-width: 60px;
    margin-right: 20px;
    border-radius: 67px;
}

.compatible-box p.left-txt {
    margin: 0;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #DE0000;
}

.compatible-box p.right-txt {
    margin: 0;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #67737C;
} */

/* Media query for single-column layout */
@media (max-width: 595px) {
    .compatible-container {
        flex-direction: column;
        align-items: center;
    }

    .compatible-divider {
        display: none;
    }

    .compatible-title-left,
    .compatible-title-right {
        text-align: center;
    }

    .compatible-column {
        width: 100%;
        text-align: center;
    }

    .compatible-box {
        margin: 0 auto;
        width: 90%;
        max-width: 400px;
    }
}

.great-mind-container {
    background-color: #DBE2E7;
    color: #000000;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: center;
}

.great-mind-title {
    color: #000000;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    padding: 29px 20px 0px 20px;
    gap: 10px;
    opacity: 0px;
}

.great-mind-txt-container {
    padding: 20px 120px 40px 120px;
}

.great-mind-card-txt {
    width: 215px;
    height: 67px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #C4CED5;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

.red-box-container {
    background-color: #DE0000;
    color: #000000;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: center;
    position: relative;
    z-index: 1;
}

/* .red-box-container::before {
    content: "";
    position: absolute;
    top: 90px;
    left: 560px;
    width: 115px;
    height: 115px;
    background-image: url('public/images/Spark.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
} */

/* .spark-bg-overlay {
    position: absolute;
    top: 23%;
    right: 0;
    width: 11.5%;
    opacity: 0.4;
    z-index: -1;
} */

.red-box-title {
    color: #000000;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: center;
    padding: 29px 20px 0px 20px;
    gap: 10px;
    opacity: 0px;
}

.red-box-txt-container {
    padding: 20px 40px 20px 40px;
}

@media (min-width: 640px) {
    .red-box-txt-container .uk-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .red-box-txt-container .uk-grid>div {
        flex-basis: calc(33.3333% - 10px);
        box-sizing: border-box;
    }

    .red-box-txt-container .uk-grid>div:nth-child(4),
    .red-box-txt-container .uk-grid>div:nth-child(5) {
        flex-basis: calc(40% - 10px);
    }

    .red-box-txt-container .uk-grid>div:nth-child(4) {
        margin-left: calc(10%);
    }
}

@media (max-width: 639px) {
    .red-box-txt-container .uk-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .red-box-txt-container .uk-grid>div {
        flex-basis: calc(50% - 10px);
    }
}

@media (max-width: 545px) {
    .red-box-txt-container .uk-grid {
        display: flex;
        flex-direction: column;
        /* Stacks items vertically */
        gap: 10px;
    }

    .red-box-txt-container .uk-grid>div {
        flex-basis: 100%;
        /* Full width for single-column layout */
    }
}

.red-box-sec-container {
    padding: 0px 120px;
}

.red-box-card-txt {
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: #AE0000;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
}


.red-box-sec-container {
    padding: 0px 120px;
}

.red-box-card-txt {
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: #AE0000;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
}

.red-box-sec-container {
    padding: 0px 120px;
}

.red-box-card-txt {
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: #AE0000;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
}

.haqdarshak-container {
    padding-top: 30px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.haqdarshak-firstDesc {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.haqdarshak-desc {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.haqdarshak-button-link,
.haqdarshak-button-link:hover {
    text-decoration: none;
}

.haqdarshak-btn {
    width: 610px;
    height: 60px;
    gap: 0px;
    border-radius: 20px;
    opacity: 1;
    background-color: #CC0000;
    color: #FFFFFF;
    border: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
}

.haqdarshak-btn:hover {
    background-color: #b30000;
    transform: scale(1.05);
}

.more-stories {
    margin: 0 auto;

}

.more-stories-cont {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.more-stories-link {
    text-decoration: none;
    color: #CC0000;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.more-stories-link:hover {
    color: #ff0000;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.hash-tag {
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.share-results {
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    color: #000000;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    width: 70%;
}

.social-media-icons img {
    /* width: 100%; */
    width: 81px !important;
    cursor: pointer;
    transition: opacity 0.3s;
    opacity: 1;
}

.social-media-icons img:hover {
    opacity: 0.7;
}

.brandbadge-img-center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.brandbadge-content-img {
    max-width: 100%;
    height: auto;
    gap: 0px;
    opacity: 0px;
    padding: 40px 0;
}


/************************************/
/** End of WYS Quiz Ans Page CSS ***/
/***********************************/


/**************************************/
/******* Mobile Responsive CSS *******/
/*************************************/

@media screen and (max-width: 959px) {
    .uk-container {
        width: 100%;
    }

    .cover-img {
        width: 100%;
        /* aspect-ratio: 65/45; */
        object-fit: cover;
        object-position: center center;
    }

    .lets-begin-button {
        width: 100%;
    }

    .quiz-radio-button {
        width: 100%;
    }

    .haqdarshak-btn {
        width: 100%;
    }

    .brandbadge-content-img {
        width: 100%;
        padding: 20px 0;
    }
}

/**************************************/
/*** End of Mobile Responsive CSS ****/
/*************************************/